:root {
    --dark-bg: #313131;
    --light-txt: lightblue;
    --blue:rgb(16, 125, 189);
}

body {
    background-color: var(--dark-bg);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--light-txt);
    margin: 0;
    align-items: center;
    position: relative;
}

.light {
    background-color: var(--light-txt);
    color: var(--dark-bg);
}

.theme {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.buckets {
    width: 90%;
    min-height: 200px;
    padding: 1rem;
    position: relative;
}
.buckets .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-bottom: 2rem;
}
.buckets input {
    background-color: transparent;
    border: 1px solid #555;
    padding: 5px;
    color: white;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}
.light .buckets input {
    color: var(--dark-bg);
}
.add-input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#container {
    background-color: rgb(7, 18, 39);
    padding: 3em;
    border-radius: 2em;
    border: 2px solid rgb(27, 76, 105);
    display: flex;
    color: var(--light-txt);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*change direction to vertical*/
}

#container:hover {
    border: 2px solid rgb(20, 77, 143);
    box-shadow: 0px 0px 20px rgb(20, 77, 143);
}

h1 {
    color: var(--blue);
    margin: 0;
}

.bucket-name {
    font-weight: 100;
    background-color: rgb(7, 18, 39);
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: rgb(10, 110, 168);
    border-radius: 5px;
    padding: 4px 10px;
    letter-spacing: 1px;
    color:var(--blue);
    font-size: 1em;
    margin: 1rem 0;
    text-align: center;
}

form div {
    display: flex;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 4em;
    justify-content: center;
    align-items: center;

}

input {
    outline: none;
}

input[type=number] {
    width: 2rem;
} 
input[type=number], input[type=checkbox], label {
    cursor: pointer;
}

button {
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
    color: lightblue;
    padding: 10px;
    font-size: 1em;
    border-radius: 5em;
    border: 1px lightblue solid;
    letter-spacing: 1px;
    text-transform: uppercase;
    grid-column: 2 span;
    outline: none;

}

button:hover {
    background-color: rgb(20, 77, 143);

}