body{
    background-color: #313131;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: lightblue;
    display: flex;
    justify-content: center; /*space-around */
    min-height: 100vh; /*view height*/ 
    margin: 0;
    align-items: center; /*align vertical and horezontal*/
}

#container{
    background-color: rgb(7, 18, 39);
    padding: 3em;
    border-radius: 2em;
    border: 2px solid rgb(27, 76, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*change direction to vertical*/
}

#container:hover{
    border: 2px solid rgb(20, 77, 143);
box-shadow: 0px 0px 20px   rgb(20, 77, 143);
}

h1{ 
    color: rgb(10, 110, 168);
    margin: 0;
}

div h3{
    font-weight: 100;
    background-color: rgb(7, 18, 39);
    border-left: 2px solid rgb(10, 110, 168);
    border-right: 2px solid rgb(10, 110, 168);
    border-radius: 5px;
    padding: 4px 10px;
    letter-spacing: 1px;
    color: rgb(10, 110, 168);
    font-size: 1em;
    width: 15rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
form div{
    display: flex;
    align-items: center;
}
form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 4em;
    justify-content: center;
    align-items: center;

}
input{
    outline: none;
}
input[type=number]{
    width: 2rem;
}
/* input[type=text]{
    background-color: rgb(7, 18, 39);
    border:none;
    border-left: 2px solid salmon;
    border-right: 2px solid salmon;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 10px 0;
    color: lightcoral;
    font-size: 1em;
} */
input, label{
    cursor: pointer;
}

button{
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
    color: lightblue;
    padding: 10px;
    font-size: 1em;
    border-radius: 5em;
    border: 1px lightblue solid;
    letter-spacing: 1px;
    text-transform: uppercase;
    grid-column: 2 span;
    outline: none;

}
button:hover{
    background-color: rgb(20, 77, 143);

}